*{
    margin: 0 auto;
    border: 0;
}

html{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #fff;
    background: url("laptopwithcoffee.jpg") content-box;
}

h1{
    background: #eee;
    font-size: 3rem;
    color: #000;
    height: 60px;
    border-bottom: 1px solid #000;
}

.button{
    border: 1px solid #fff;
}

form{
    text-align: left;
}

form, .button{
    font-weight: 600;
}

.button{
    background: #000;
    color: #fff;
    height: 30px;
    width: 90px;
    padding: 5px;
}

.button:hover{
    background: #00ff00;
    color: #000;
    transition: 400ms;
}

input{
    background: #eee;
}

input:hover{
    background: #fff;
}

h2{
    text-decoration: underline;
}

section{
    background: #eee;
    color: #000;
    border: 1px solid #000;
}

